# Makefile.vc.config
#
# Written by Chris Moulding May 2000

#######################	 EDIT HERE  #########################

# version number for this map3d build

MAP3DVERSION = \"5.4\"


## version (debug or release)

VERSION      = release
#VERSION      = debug


## echo commands (false = won't echo, true = will echo)

#ECHO         = false
ECHO         = true


## command output redirection (bit bucket)

#BB          = 2>> output_log2.txt 1>> output_log1.txt
BB          = 2> NUL 1> NUL

## paths to libraries and header files

GLUT_DIRS   = c:\progra~1\glut
DEV_DIRS    = c:\progra~1\micros~1\vc98


## maximum number of surfs to be allowed by map3d

MAXSURF     = 100

WARNING     = -W4

#############################################################


## build static (standalone .exe) or dynamic (.exe with .dll's)
TYPE         = STATIC
#TYPE         = DYNAMIC


#############################################################
#
# Set the commands with or without echo suppression
#

!if ("$(ECHO)" == "false")
C			= @cl
CC			= @cl
!if ("$(TYPE)" =="STATIC")
LINK    = @lib
!else
LINK		= @link
!endif
MAKE		= @nmake -nologo
RM			= @del
MOVE        = @move
CP          = @copy
CD          = @cd
MKDIR       = @mkdir
!else
C			= cl
CXX			= cl
!if ("$(TYPE)" =="STATIC")
LINK    = lib
!else
LINK		= link
!endif
MAKE		= nmake -nologo
RM			= del
MOVE        = move
CP          = copy
CD          = cd
MKDIR       = mkdir
!endif




