# Makefile.linux.config
#
# Written by Chris Moulding June 2000
# Last update: Wed Dec 26 19:03:27 2001 by Rob MacLeod
#    - Max OSX version
#
#######################	 EDIT HERE  #########################

## version number for this map3d build

MAP3DVERSION = \"5.4\" 


## version (debug or release)

VERSION      = release
#VERSION      = debug


## echo commands (false = won't echo, true = will echo)

#ECHO         = false
ECHO         = true


## command output redirection (bit bucket)

#BB          = > output_log.txt
BB          = > NUL 

## paths to libraries and header files

#GLUT_DIRS   = /usr/local/contrib/glut


## maximum number of surfs to be allowed by map3d

MAXSURF     = 100

WARNING = -Wall

#############################################################




#############################################################
#
# Set the commands
#

C	    = cc
CC	    = c++
LINK	    = ar cr 
MAKE	    = make --no-print-directory
RM	    = rm -f
MOVE        = mv
CP          = cp
CD          = cd
MKDIR       = mkdir

